#mobile-image {
  display: block;
}

#model {
  display: none;
}
//i recall you saying we can use a library
//https://css-loaders.com/spinner/
//if this is not true, do let me know, i do not want to accidently cheat in anyway

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

@keyframes l14{ 
  100%{transform: rotate(1turn)}
}

@media screen and (min-width: 768px) {
  #mobile-image {
    display: none;
  }

  #model {
    display: block;
  }
}